*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: sans-serif;
    font-size: 20;
    font-weight: 100;
    text-transform: capitalize;
    text-decoration: dotted;
}


h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20;
    font-weight: 100;
    text-transform: lowercase;
    text-decoration:dotted;
}

.box{
    background-color: red;
    height: 250px;
    width: 250px;
    margin: 20px;
    border:2px solid black;
   


}
.box1{
    background-color: yellow;
    height: 150px;
    width: 150px;
    margin: 20px;
    border:2px solid black;
    padding: 1px 2px 5px 8px;
}