 *{
    margin: 0;
    padding: 0;
 }

 .parent{
    width: 500px;
    height: 500px;
    background-color: blue;
 }
 .child{

  width:40vw;
    height: 50vh;
    background-color: green;
 }